<button class="btnRainbow py-4 my-10 shadow-lg">Contactanos</button>

<style>
  .btnRainbow {
    flex: content;
    padding-top: 8px;
    padding-bottom: 8px;
    background: linear-gradient(90deg, #8f00ff 0%, #00cabe 100%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
  }
</style>
