---

---

<div
  class="hover:shadow-xl hover:border-slate-800 hover:bg-gray-900 border border-slate-800 rounded-lg max-xl:w-96 flex flex-col md:flex-row p-10 space-x-5 my-5"
>
  <div class="w-4/5 h-auto border border-slate-800">
    <img src="logo.png" alt="" />
  </div>
  <div>
    <sub class="font-medium text-white text-2xl">Proyecto 1 </sub>
    <p class="mt-5 font-light text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      doloribus corrupti voluptate accusamus totam ut illo. Necessitatibus nam
      voluptatem, debitis id voluptatibus temporibus, at assumenda praesentium
      molestiae accusantium excepturi. Amet.
    </p>
    <div
      class="border-2 rounded-full border-purple-800 mt-3 text-white h-fit w-fit py-1 px-5"
    >
      Aplicacon movil
    </div>
  </div>
</div>

<style>
  .borderRainbow {
  }
</style>
