<footer class="py-10 -mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div>
            <h4 class="font-bold text-x1">
                Site Map
            </h4>
            <a href="#">Home</a>
            <p></p>
            <a href="#">About</a>
            <p></p>
            <a href="#">Ejemplo</a>   
        </div>
        <div>
            <h4 class="font-bold text-x1">
                Site Map
            </h4>
            <a href="#">Home</a><p></p>
            <a href="#">About</a><p></p>
            <a href="#">Ejemplo</a><p></p>
        </div>
        <div class="">
            <h4 class="font-bold text-x1">
                Site Map
            </h4>
            <a href="#">Home</a><p></p>
            <a href="#">About</a><p></p>
            <a href="#">Ejemplo</a><p></p>
        </div>       
    </div>
    <div class="text-center">
        <p>Todos los derechos reservados por AnySoft | 2024</p>
        <p>Diseñado por Anysoft</p>
    </div>
</footer>



<style>

.container {

}

.background {

}

.text-color {

}


</style>