<header class="navbar">
  <img class="h-12 mr-auto" src="logo.png" alt="Logo AnySoft" />
  <nav class="flex flex-row gap-x-10">
    <a class="txtColorPrimary font-semibold" href="/">Inicio</a>
    <a class="txtColorPrimary font-semibold" href="/about">Nosotros</a>
    <a class="txtColorPrimary font-semibold" href="/projects">Proyectos</a>
    <a class="txtColorPrimary font-semibold" href="/contact">Contacto</a>
  </nav>
</header>

<style>
  .txtColorPrimary {
    color: #084c61;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
    padding-block: 10px;
    top: 0;
  }
</style>
