---

---

<div class="w-7/12 h-auto flex flex-col py-16 px-52 items-start">
  <h1>Quienes somos</h1>
  <div>
    <div
      class="bottom-0 left-1/4 top-0 h-[500px] w-[500px]
    -translate-x-[1%] translate-y-[50%] rounded-full
    bg-[#EB00FF] opacity-15 blur-[70px]"
    >
    </div>
    <div
      class="bottom-0 left-2/4 right-0 top-20 h-[500px] w-[500px]
    -translate-x-[130%] translate-y-[50%] rounded-full
    bg-[#00CABE] opacity-15 blur-[70px]"
    >
    </div>
  </div>
</div>
