---
import CardServicios from "./CardServicios.astro";
---

<div class="bgDiv flex flex-col py-16 px-40 items-start justify-start">
  <h1 class="flex flex-col intems-center justify-between w-full text-center  title mb-14 text-5xl">Nuestros Servicios</h1>
  <CardServicios />
</div>

<style>
  .bgDiv {
    background-color: #001f28;
    clip-path: margin-box;
    max-height: fit-content;
    
  }

  .title {
    font-size: 4rem;
    font-weight: 750;
    color: #fff;
  }
</style>

<!-- <div
  class="bottom-0 left-full top-0 h-[700px] w-[700px]
translate-x-[80%] translate-y-[20%] rounded-full
bg-[#EB00FF] opacity-5 blur-[70px]"
>
</div>
<div
  class="bottom-0 left-auto right-0 top-20 h-[700px] w-[700px]
-translate-x-[80%] -translate-y-[80%] rounded-full
bg-[#00CABE] opacity-5 blur-[70px]"
>
</div> -->
